@model List<Pantreats.Models.Order>

@{
    ViewData["Title"] = "Order History";
}

<div class="order-history py-4">

    <h1>Order History</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>Total Points</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var order in Model)
            {
                <tr style="cursor:pointer" onclick="goToOrder(@order.OrderId)">
                    <td>@order.OrderId</td>
                    <td>@order.OrderDate.ToString("yyyy/MM/dd")</td>
                    <td>@order.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function goToOrder(orderId) {
            window.location.href = '/Order/Details/' + orderId;
        }
    </script>
}