@*
    This is the view for creating a new donation.
*@
@{
    ViewData["Title"] = "Create Donation";
}

<h1>Make a Donation</h1>

<form asp-controller="Donor" asp-action="CreateDonation" method="post">
    @Html.AntiForgeryToken()

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Donate</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="selectedItems" value="Canned Goods" /></td>
                <td>Canned Goods</td>
                <td><input type="number" name="quantities[Canned Goods]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Produce" /></td>
                <td>Produce</td>
                <td><input type="number" name="quantities[Produce]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Meat" /></td>
                <td>Meat</td>
                <td><input type="number" name="quantities[Meat]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Bread & Bakery" /></td>
                <td>Bread & Bakery</td>
                <td><input type="number" name="quantities[Bread & Bakery]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Rice & Pasta" /></td>
                <td>Rice & Pasta</td>
                <td><input type="number" name="quantities[Rice & Pasta]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Dairy Products" /></td>
                <td>Dairy Products</td>
                <td><input type="number" name="quantities[Dairy Products]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Frozen Foods" /></td>
                <td>Frozen Foods</td>
                <td><input type="number" name="quantities[Frozen Foods]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Snacks" /></td>
                <td>Snacks</td>
                <td><input type="number" name="quantities[Snacks]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Beverages" /></td>
                <td>Beverages</td>
                <td><input type="number" name="quantities[Beverages]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Hygiene Products" /></td>
                <td>Hygiene Products</td>
                <td><input type="number" name="quantities[Hygiene Products]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Baby Supplies" /></td>
                <td>Baby Supplies</td>
                <td><input type="number" name="quantities[Baby Supplies]" min="1" value="1" class="form-control" /></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="selectedItems" value="Pet Food" /></td>
                <td>Pet Food</td>
                <td><input type="number" name="quantities[Pet Food]" min="1" value="1" class="form-control" /></td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">
        Submit Donation
    </button>
</form>