@using Microsoft.AspNetCore.Identity
@using Pantreats.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        var profilePic = currentUser?.ImagePath != null
        ? $"/Profile/ProfilePicture?userId={currentUser.Id}"
        : "/images/default-profile.png";

        <li class="nav-item">
            <a class="nav-link pantreats-nav-link"
                   asp-area="Identity"
                   asp-page="/Account/Manage/Index"
                   title="Manage">
                   <img src="@profilePic" alt=" "Profile"
                       style="width:35px; height:35px; border-radius:50%; object-fit:cover; margin-right:6px" />
                Hello @User.Identity?.Name!
            </a>
        </li>
        <li class="nav-item">
            <form class="pantreats-logout-form"
                  asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link pantreats-nav-link pantreats-logout-btn">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link pantreats-nav-link"
                   asp-area="Identity"
                   asp-page="/Account/Register">
                Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link pantreats-nav-link"
                   asp-area="Identity"
                   asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>